.full{
    overflow:auto;
}
.awal{
    border: 2px solid black;
    width: 99%;
    height: 25%;
    background-color: cyan;
}
.travel{
    border: 2px solid black;
    width: 99%;
    height: 80px;
    background-color: cyan;
}
.side{
    float: left;
    border: 2px solid black;
    height: 400px;
    width: 15%;
    background-color: cyan;
}
.main{
    float: left;
    border: 2px solid black;
    height: 400px;
    width: 83.8%;
    background-color: cyan;
}
.kiri{
    text-align: left;
    float: left;
}
.kanan{
    text-align: right;
    float: right;
}
.mid{
    border: 2px solid black;
    height: 500px;
    width: 60%;
    background-color: cyan;
}
.kaki{
    display: table;
    border: 2px solid black;
    width: 99%;
    height: 10%;
    background-color: cyan;
}