#full{
    overflow:auto;
}
#awal{
    border: 2px solid black;
    width: 99%;
    height: 25%;
    background-color: cyan;
}
#travel{
    border: 2px solid black;
    width: 99%;
    height: 10%;
    background-color: cyan;
}
#side{
    float: left;
    border: 2px solid black;
    height: 50%;
    width: 15%;
    background-color: cyan;
}
#main{
    float: left;
    border: 2px solid black;
    height: 50%;
    width: 84%;
    background-color: cyan;
}
#kiri{
    text-align: left;
    float: left;
}
#kanan{
    text-align: right;
    float: right;
}